section ::deep form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section ::deep form label {
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}
section ::deep form .text-input, section ::deep form select-input {
  display: block;
  width: 60%;
  padding: 12px 18px;
  border: none;
  outline: 1px solid #D4D7E5;
  border-radius: 6px;
  margin: auto;
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  section ::deep form .text-input, section ::deep form select-input {
    font-size: 14px;
  }
}
section ::deep form .validation-message {
  color: red;
  display: block;
}
section ::deep form .btn {
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}
section ::deep form .cancel {
  color: black;
  padding: 10px;
  background-color: lightgrey;
}
section ::deep form .delete {
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  color: black;
  padding: 10px;
  background-color: red;
}
section ::deep form .error-message {
  color: red;
}
