@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>
<section>
    <h1>Silicon Admin Portal</h1>

    <p>Welcome to the Silicon Admin Portal! Here you can administer courses.</p>
</section>


